<ion-header class="ion-no-border">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

  <ion-card class="ion-no-margin">

    <ion-card-header>
      <ion-card-title>Sign-Up</ion-card-title>
      <ion-card-subtitle>Create your account in just 1 minute</ion-card-subtitle>
    </ion-card-header>

    <form [formGroup]="ValidationFormUSer" (ngSubmit)="registerUser(ValidationFormUSer.value)">
      <ion-card-content>

          <div class="form-group">
            <ion-item>

              <ion-input  type="text"
                          class="form-control"
                          id="formGroupName"
                          placeholder="Name" 
                          formControlName="name">

                <ion-icon name="person-outline"></ion-icon>

              </ion-input>

            </ion-item>

            <small class="error_message" *ngIf="ValidationFormUSer.get('name').hasError('required')">This Field is required !</small>
            <small class="error_message" *ngIf="ValidationFormUSer.get('name').hasError('minlength')">The minimum length for this field is 3 characters !</small>
            
          </div>
    
    
          <div class="form-group">
            <ion-item>

              <ion-input  type="email"
                        class="form-control"
                        id="formGroupExampleInput2"
                        placeholder="Email" 
                        formControlName="email">

                <ion-icon name="mail-outline"></ion-icon>

              </ion-input>

            </ion-item>
            
            <small class="error_message" *ngIf="ValidationFormUSer.get('email').hasError('required')">This Field is required !</small>
            <small class="error_message" *ngIf="ValidationFormUSer.get('email').hasError('email')">You should put a valid Email !</small>

          </div>
    
          <div class="form-group">
            <ion-item>

              <ion-input [type]= "showpassword ? 'text' : 'password' "
                          class="form-control"
                          id="formGroupPassword"
                          placeholder="*******" 
                          formControlName="password">

                <ion-icon name="lock-closed"></ion-icon>

              </ion-input>
              
              <ion-icon slot="end" [name] = "passwordToggleIcon" (click)="togglePassword()"></ion-icon>

            </ion-item>

            <small class="error_message" *ngIf="ValidationFormUSer.get('password').hasError('required')">This Field is required !</small>
            <small class="error_message" *ngIf="ValidationFormUSer.get('password').hasError('minlength')">The minimum length for this field is 3 !</small>
            <small class="error_message" *ngIf="ValidationFormUSer.get('password').hasError('maxlength')">The maximum length for this field is 15 !</small>

          </div>

        <div class="sign-btn-wrap">
          <ion-button shape="round"
                      fill="solid"
                      type="submit"
                      class="sign-btn">Sign-Up</ion-button>
        </div>

      </ion-card-content>
    </form>

  </ion-card>
  
</ion-content>
