<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="ion-no-margin">

      <ion-card-header>

        <ion-card-title>
          𝓣𝓸-𝓓𝓸-ℒ𝓲𝓼𝓽
        </ion-card-title>

        <ion-card-subtitle class="ion-text">
          𝓞𝓻𝓰𝓪𝓷𝓲𝔃𝒆 𝔂𝓸𝓾𝓻 𝓭𝓪𝓲𝓵𝔂 𝓵𝓲𝒇𝒆
        </ion-card-subtitle>
        
      </ion-card-header>

      <ion-card-content>

        <div class="account">
          <p><strong>𝓒𝔯𝔢𝔞𝔱𝔢 𝔞𝔫 𝔞𝔠𝔠𝔬𝔲𝔫𝔱 𝔣𝔬𝔯 𝔉𝔯𝔢𝔢</strong></p>
        </div>

        <div class="signin-btns">

          <ion-button size="small"
                      fill="solid"
                      shape="round"
                       class="sign-btn">𝓢𝓲𝓰𝓷-𝓲𝓷
          </ion-button>

        </div>

        <div class="already">
          <p><strong>𝔇𝔬 𝑦𝔬𝔲 𝔥𝔞𝔳𝔢 𝔞𝔩𝔯𝔢𝔞𝔡𝑦 𝔞𝔫 𝔞𝔠𝔠𝔬𝔲𝔫𝔱?</strong></p>
        </div>

        <div class="login">

          <ion-button size="small"
                      fill="solid"
                      shape="round"
                      class="login-btn">𝕷𝖔𝖌𝖎𝖓
          </ion-button>
          
        </div>

      </ion-card-content>

    </ion-card>

</ion-content>
