<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-no-margin">

    <ion-card-header>

      <ion-card-title>
        𝓣𝓸-𝓓𝓸-ℒ𝓲𝓼𝓽
      </ion-card-title>

      <ion-card-subtitle class="ion-text">
        𝓞𝓻𝓰𝓪𝓷𝓲𝔃𝒆 𝔂𝓸𝓾𝓻 𝓭𝓪𝓲𝓵𝔂 𝓵𝓲𝒇𝒆
      </ion-card-subtitle>
      
    </ion-card-header>

    <ion-card-content>

      <div class="account">
        <p><strong>𝓒𝓻𝒆𝓪𝓽𝒆 𝓪𝓷 𝓪𝓬𝓬𝓸𝓾𝓷𝓽 𝒇𝓸𝓻 𝒇𝓻𝒆𝒆</strong></p>
      </div>

      <div class="signin-btns">

        <ion-button size="small"
                    fill="solid"
                    shape="round"
                    class="sign-btn"
                    (click)="registerUser()">𝓢𝓲𝓰𝓷-𝓲𝓷
        </ion-button>

      </div>

      <div class="already">
        <p><strong>𝓓𝓸 𝔂𝓸𝓾 𝓱𝓪𝓿𝒆 𝓪𝓵𝓻𝒆𝓪𝓭𝔂 𝓪𝓷 𝓪𝓬𝓬𝓸𝓾𝓷𝓽 ?</strong></p>
      </div>

      <div class="login">

        <ion-button size="small"
                    fill="solid"
                    shape="round"
                    class="login-btn"
                    (click)="gotoLoginpage()">𝐿𝑜𝑔𝒾𝓃
        </ion-button>
        
      </div>

    </ion-card-content>
    
    <div class="souha">
      <p>𝓒𝓻𝒆𝓪𝓽𝒆𝓭 𝓫𝔂 : <strong>𝓢𝓸𝓾𝓱𝓪 ℋ𝓪𝓫𝓲𝓫</strong></p>
    </div>

  </ion-card>

</ion-content>

