ion-content{
    --background-color: #F0F4FD;
    
}

p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 50px;
    margin: 0;
}

ion-fab-button{
    --ion-primary-color: #012a4a;
    --background-activated: #E1EAF9;
    --background-focused: #EAEAF9;
    --background-hover: #012a4a;
    --background: #00b4d8;
}

.bg-img {
    padding: 1px;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/cat1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
