ion-content{
    --background-color: #F0F4FD;
}

p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 50px;
    margin: 0;
}

ion-fab-button{
    --ion-primary-color: #e71d36;
    --background-activated: #E1EAF9;
    --background-focused: #EAEAF9;
    --background-hover: #e71d36;
    --background: #f07167;
}
