<ion-header class="ion-no-border">

  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>

  <ion-buttons slot="start">

    <ion-back-button defaulthref="login" text=""></ion-back-button>

  </ion-buttons>

</ion-header>

<ion-content>
    
  <ion-card class="ion-no-margin">

    <ion-card-header>

      <ion-card-title>𝓦𝒆𝓵𝓬𝓸𝓶𝒆 ℬ𝓪𝓬𝓴</ion-card-title>
      <ion-card-subtitle>𝒲𝑒 𝓂𝒾𝓈𝓈𝑒𝒹 𝓎𝑜𝓊 ♥</ion-card-subtitle>

    </ion-card-header>
    

    <ion-card-content class="bg-color">

      <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.value)">
        <div class="wrapform">

          <ion-item>

            <ion-input type="text" name="email" formControlName="email"  placeholder="Email">
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>

          </ion-item>

          <div>

            <ng-container *ngFor="let validation of validationUserMessage.email">

              <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
                 {{validation.message}}
              </div>

            </ng-container>

          </div>

          <ion-item>

            <ion-input  [type]= "showpassword ? 'text' : 'password' " 
                        class="form-control"
                        name="password" 
                        formControlName="password"  
                        placeholder="**************" >

              <ion-icon name="lock-closed"></ion-icon>

            </ion-input>
            
              <ion-icon slot="end" [name] = "passwordToggleIcon" (click)="togglePassword()"></ion-icon>

          </ion-item>

          <div>
            <ng-container *ngFor="let validation of validationUserMessage.password">

              <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)">
                  {{validation.message}}
              </div>

            </ng-container>
            
          </div>

        </div>

        <div class="login-btn-wrap">
          <ion-button  shape="round" type="submit"  fill="solid" class="login-btn"><span>𝑳𝒐𝒈𝒊𝒏</span></ion-button>
        </div>

        

      </form>

    </ion-card-content>

    <div class="ion-card-footer">

      <span>𝐃𝐨𝐧'𝐭 𝐡𝐚𝐯𝐞 𝐚𝐧 𝐚𝐜𝐜𝐨𝐮𝐧𝐭?</span>
      
      <button  class="ion-no-padding" [routerLink] = "['/signup']">𝑺𝒊𝒈𝒏-𝒖𝒑</button>
      
    </div>

  </ion-card>

</ion-content>
