<ion-header class="ion-no-border">

  <ion-toolbar>
    <!-- <ion-title>loginscreen</ion-title> -->
  </ion-toolbar>

  <ion-buttons slot="start">

    <ion-back-button defaulthref="login"></ion-back-button>

  </ion-buttons>

</ion-header>

<ion-content>
    
  <ion-card class="ion-no-margin">

    <ion-card-header>

      <ion-card-title>𝓦𝒆𝓵𝓬𝓸𝓶𝒆 ℬ𝓪𝓬𝓴</ion-card-title>
      <ion-card-subtitle>𝒲𝑒 𝓂𝒾𝓈𝓈𝑒𝒹 𝓎𝑜𝓊 ♥</ion-card-subtitle>

    </ion-card-header>
    

    <ion-card-content class="bg-color">

      <form [formGroup]="validationFormUser" (ngSubmit)="LoginUser(validationFormUser.valid)">

        <div class="wrapform">
          <ion-item>
            
            <ion-input type="text" name="email" formControlName="email" [ngModel]="email" placeholder="Email" required>
              <ion-icon name="mail-outline"></ion-icon>
            </ion-input>
            
          </ion-item>


          <ion-item>
            
            <ion-input type="password" name="password" formControlName="password"  [ngModel]="password" placeholder="********" required>
              <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-input>

          </ion-item>
        </div>


      <div class="password_forgot">
        <ion-button fill="clear" class="ion-no-padding">Forgot Password ?</ion-button>
      </div>

      <div class="login-btn-wrap">
        <ion-button shape="round" fill="solid" class="login-btn" [disabled]="!validationFormUser.valid">Login</ion-button>
      </div>

      <div class="text-tag">
        <span>𝐎𝐫 𝐯𝐢𝐚 𝐒𝐨𝐜𝐢𝐚𝐥 𝐌𝐞𝐝𝐢𝐚</span>
      </div>

      <div class="social-btns">

        <ion-button fill="clear"
                    class="facebookbtn ion-no-padding">

          <ion-img src="../../assets/images/facebook.png"></ion-img>
        </ion-button>

        <ion-button fill="clear"
                    class="googlebtn ion-no-padding">
                    
          <ion-img src="../../assets/images/google.png"></ion-img>
        </ion-button>

      </div>

    </form>
    </ion-card-content>

    <div class="ion-card-footer">

      <span>𝐃𝐨𝐧'𝐭 𝐡𝐚𝐯𝐞 𝐚𝐧 𝐚𝐜𝐜𝐨𝐮𝐧𝐭?</span>
      <button class="ion-no-padding" href="/signup">𝑺𝒊𝒈𝒏-𝒖𝒑</button>
      
    </div>
  </ion-card>

  

</ion-content>
